body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: rgb(154, 52, 249);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  background-color: rgb(225, 225, 225);
  max-width: 40vw;
  padding-left: 80px;
  padding-top: 60px;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid rgb(145, 145, 145);
  border-radius: 20px;
}

.comments {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 16px;
  color: rgb(67, 67, 232);
}

textarea {
  width: 30vw;
  height: 8vw;
}

button {
  width: 125px;
  height: 50px;
  background-color: rgb(214, 255, 91);
  border: 1px solid #000000;
  border-radius: 10px;
}

.comments {
  background-color: rgb(255, 255, 255);
  text-align: start;
  width: 30vw;
}

button,
textarea {
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.required {
  font-size: 16px;
  color: rgba(45, 45, 193, 0.612);
}

img {
  width: 15vw;
  height: auto;
}

.small {
  width: 5vw;
  height: auto;
}

#errorMessage {
  color: crimson;
  text-decoration: dashed;
}
